@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
  }

  body {
    @apply bg-light text-dark dark:bg-dark dark:text-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #F59E0B;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D97706;
}

/* Leaflet styles fix */
.leaflet-container {
  z-index: 1;
}
